<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>RapidAVD Signup</title>

    <link href="assets/css/main_css.css" rel="stylesheet">

    <link href="assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/hover.zoom.js"></script>
    <script src="assets/js/hover.zoom.conf.js"></script>



    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">RapidAVD</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.html">Login</a></li>  
        <li><a href="index.html">Download</a></li>  

        <li><a href="api.html">API's</a></li>
        <li><a href="about.html">About</a></li>       
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div><!--/.nav-collapse -->
</div>
</div>



</div>

<div id="ww">
  <div class="container">
      <!-- <div class="row"> -->
      <!-- <div class="login"> -->
      <div class="col-lg-8 col-lg-offset-2 centered">
          <img src="img/signup2.jpg" height=130px width=230px alt="Signup">
          <form class="form" method="post" action="#">
              <fieldset>
               <input type="username" placeholder="Username" required/>  <br /><br>
               <input type="password" placeholder="Password" required/> <br /><br>
               <input type="email" placeholder="E-mail" required/> <br /><br>
               <input type="tel" placeholder="Mobile Number"required /> <br /><br>
           </fieldset>
           <input type="submit" value="Sign Up" class="b" style ="width: 230px; color :#e59866"><br><br>
           <div class="utilities">
             <br><br><br><br><br>

         </div>

     </div><!-- /col-lg-8 -->
 </div><!-- /row -->
</div> <!-- /container -->
</div><!-- /ww -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Designed By</h4>
                <p>Vimmey Chopra <br> Bangalore , Karnataka
                </p>
            </div><!-- /col-lg-4 -->
            
            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <img src="img/facebook.png" height="40px"><a href="https://www.facebook.com/vimmey.chopra/"></a>

                                <img src="img/link.png" height="40px"><a href="https://in.linkedin.com/in/vimmeychopra"></a>

                                
                            </div>  
                            <div class="col-md-4">
                                <span class="copyright">Copyright &copy; Vimmey Chopra 2016</span>
                            </div>              
                        </div>
                    </div>
                </p>
            </div><!-- /col-lg-4 -->
            
            

        </div>

    </div>
</div>

    <script src="assets/js/main.min.js"></script>
</body>
</html>
